[submodule "Solidity"]
	path = Solidity
	url = git@github.com:roman-ojha/solidity.git
[submodule "Truffle"]
	path = Truffle
	url = git@github.com:roman-ojha/truffle.git
[submodule "Tutorial/02_IPFS"]
	path = Tutorial/02_IPFS
	url = git@github.com:roman-ojha/ipfs.git
[submodule "Tutorial/03_NFT"]
	path = Tutorial/03_NFT
	url = git@github.com:roman-ojha/nft.git
[submodule "Hardhat"]
	path = Hardhat
	url = git@github.com:roman-ojha/hardhat.git
[submodule "Web3/web3.js"]
	path = Web3/web3.js
	url = git@github.com:roman-ojha/web3.js.git
